body, html
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: arial;
	background: #f7f7f7;

}

.wrapper
{
	width: 100%;
	margin: auto;
}

/*.header
{
	background: #373737;
}

.header__content
{
	padding: 5px;
}
#
.header__title
{
	display: block;
	padding: 5px;
	margin: 5px;
	color: #f7f7f7;
}*/

.auth{
    text-align: center;
    background-image: url('\images\auth_area.jpg');
    background-size: cover;
}

form[name="credentials"] {

    background: ;
    opacity: 0.7;
    display:flex;
    align-items:center;

    height: 5vh;
}

.auth_text {
  color: black;
  font-size: 24px;
  font-family: arial;
  align-items:center;
  display: inline-block;
}

form label{
    padding: 10px;
	margin: 10px;
	font-size: 24px;
	font-family: arial;
}

form button{
	margin: 5px;
	font-size: 16px;
	font-family: arial;
}

form input{
    padding: 5px;
	margin: 5px;
	width: 25%;
	font-size: 16px;
	font-family: arial;
}


